[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google = "*"
beautifulsoup4 = "*"
flask = "*"
flask-sqlalchemy = "*"
python-decouple = "*"
flask-migrate = "*"
pgeocode = "*"
gensim = "*"
folium = "*"

[requires]
python_version = "3.7"
