[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
flask-sqlalchemy = "*"
requests = "*"
beautifulsoup4 = "*"
pytz = "*"
flask-marshmallow = "*"
ipykernel = "*"
werkzeug = "*"
transformers = "*"
uszipcode = "*"
spacy = "*"
pandas-bokeh = "*"
lxml = "*"

[requires]
python_version = "3.7"
